@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VCR OSD Mono', sans-serif;  
    background: url(https://i2.wp.com/wallpapercave.com/wp/wp2527107.jpg);    
    background-size: cover;                                      
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(171, 172, 165);
}

#green {
    color: rgb(0, 255, 0);
}

h3 {
    color: orange;
}

#pfp {
    border: 1px solid white;
    margin-bottom: 25px;
}

.container {
    font-size: 15px;
    line-height: 30px;
}
